@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Urbanist", sans-serif;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
    height: 100%;
    background-color: #1c1b29;
}
